<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nolovr.core.mediartc">
    <application >
        <service
            android:name="com.nolovr.core.mediartc.RoomService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.nolovr.core.space.service.MediaService" />
            </intent-filter>
        </service>
    </application>

</manifest>